<%= form_for([:admin, @passanger], html:{ class: "form-inline"}) do |f| %>
  <%= render 'common/errors', resource: @passanger %>

  <div class="form-group">
    <%= f.label :name, 'ФИО'  %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email, 'Email'  %>
    <%= f.text_field :email, class: 'form-control' %>


    <%= f.submit "#{@passanger.new_record? ? t('common.create') : t('common.update')}", class: 'btn btn-success btn-sm' %>

  </div>
  <br><br>
<% end %>
