<%= form_for([:admin, station], html: { style: "display: #{ hidden ? 'none' : 'block' }" , class: 'form-inline'} )do |f| %>
  <%= render 'common/errors', resource: station %>

  <div class="form-group form-group-sm">
    <%= f.label :title if action_name != 'index' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <%= f.submit "#{station.new_record? ? t('common.create') : t('common.update')}", class: 'btn btn-sm btn-success' %>
<% end %>
