<tr>
  <td>
    <div class="railway_station_title_<%= railway_station.id %>">
      <%= railway_station.title %>
    </div>
    <%= render 'form', station: railway_station, hidden: true %>

  </td>
  <td>
    <%= link_to t('common.edit'), '',  class: 'btn btn-sm btn-warning edit_station', data: {station_id: railway_station.id} %>
    <%# link_to t('common.show'), admin_railway_station_path(railway_station) , class: 'btn btn-sm btn-info'%>
    <%= link_to t('common.delete'), [:admin, railway_station], method: :delete, data: { confirm: t('common.delete_confirm') }, class: 'btn btn-sm btn-danger' %>
  </td>
</tr>
