<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Список Станций', admin_railway_stations_path %></li>
  <li class="list-group-item"><%= link_to 'Список Поездов', admin_trains_path %></li>
  <li class="list-group-item"><%= link_to 'Список Маршрутов', admin_routes_path %></li>
  <li class="list-group-item"><%= link_to 'Список пользователей', admin_passangers_path %></li>
  <li class="list-group-item"><%= link_to 'Билеты', admin_tickets_path %></li>
</ul>
