<%= form_for(@ticket) do |f| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= f.label :seat, 'Имя пассажира'  %>
    <%= f.text_field :seat %>
  </div>

  <div class="field">
    <%= f.label :start_station, 'Начальная станция' %>
    <%= f.collection_select :start_station_id, RailwayStation.all, :id, :title, {prompt: 'Выберите станцию'} %>
  </div>
  <div class="field">
    <%= f.label :end_station, 'Конечная станция' %>
    <%= f.collection_select :end_station_id, RailwayStation.all, :id, :title, {prompt: 'Выберите станцию'} %>
  </div>


  <div class="actions">
    <%= f.submit "#{@ticket.new_record? ? t('common.create') : t('common.update')}" %>
  </div>
<% end %>
