<tr>
  <td><%= ticket.route.name %></td>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.seat %></td>
  <td><%= link_to ticket.passanger.name, admin_passanger_path(ticket.passanger) %></td>
  <td><%= ticket.passanger_info %></td>
  <td><%= link_to t('common.show'), admin_ticket_path(ticket), class: 'btn btn-sm btn-info'%></td>
</tr>
