<h1><%= t('.title') %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.route') %></th>
      <th><%= t('.number') %></th>
      <th><%= t('.seat') %></th>
      <th><%= t('.buyer') %></th>
      <th><%= t('.links') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>
