
<h2><%= t('.title') %></h2>
<p>
  <p><b><%= t('.passanger_name') %></b> <%= @ticket.passanger.name %></p>
  <p><b><%= t('.passanger_info') %></b> <%= @ticket.passanger_info %></p>
  <p><b><%= t('.seat') %></b> <%= @ticket.seat %></p>
  <p><b><%= t('.route_name') %></b>  <%= @ticket.route.name %></p>
  <p><b><%= t('.train_number') %></b>  <%= @ticket.train.number %></p>
  <p><b><%= t('.start_station_title') %></b>  <%= @ticket.start_station.title %></p>
  <p><b><%= t('.leave_time') %></b>  <%= @ticket.leave_time %></p>
  <p><b><%= t('.end_station_title') %></b>   <%= @ticket.end_station.title %></p>
  <p><b><%= t('.arrive_time') %></b>   <%= @ticket.arrive_time %></p>

</p>

<%= link_to t('common.delete'), admin_ticket_path(@ticket), method: :delete, class: 'btn btn-sm btn-danger' %> |
<%= link_to t('common.edit'), edit_admin_ticket_path(@ticket) , class: 'btn btn-sm btn-warning' %> |
<%= link_to t('common.back'), admin_tickets_path , class: 'btn btn-sm btn-default' %>
