<h1>Поиск билета</h1>
<%# render 'common/errors', resource: @search %>
<%= form_tag find_search_path, method: :post, class: "form-inline"  do  %>
  <div class="form-group">
    <%= collection_select(:search, :start_station_id, RailwayStation.all, :id, :title, {prompt: 'Начальная станция'}, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= collection_select(:search, :end_station_id, RailwayStation.all, :id, :title, {prompt:   'Конечная станция'}, class: 'form-control') %>
  </div>
  <%= submit_tag "Поиск!", class: 'btn btn-sm btn-primary' %>
<% end %>



<% if @results %>
  <h4>Результаты поиска:</h4>
  <table class="table">
    <tr>
      <th>
        Номер поезда
      </th>
      <th>
        Маршрут
      </th>
      <th>

      </th>
    </tr>
    <%= render(partial: "result", collection: @results)%>
  </table>

<% end %>
