<tr class="train_tr_<%= train.id %>">
  <td><%= train.number %></td>

  <td>
    <% if train.current_station.present? %>
      <%= train.current_station.title %>
    <% else %>
      Не указано
    <% end %>
  </td>

  <td>
    <% if train.route.present? %>
      <%= train.route.name %>
    <% else %>
      Не указано
    <% end %>
  </td>

  <td>
    <% if train.reverse_sort %>
      "С хвоста"
      <% else %>
      "С головы"
    <% end %>
  </td>

  <td>
    <%= link_to t('common.edit'), '' , class: 'btn btn-sm btn-warning train_edit_button' , data: {train_id: train.id} %>
    <%= link_to t('common.show'), admin_train_path(train) , class: 'btn btn-sm btn-default', class: 'btn btn-sm btn-info' , class: 'btn btn-sm btn-info'%>
    <%= link_to t('common.delete'), [:admin, train], method: :delete, data: { confirm: t('common.delete_confirm') }, class: 'btn btn-sm btn-danger' %>
  </td>
</tr>

<%= render "form_index", train: train %>
