<tr>
  <td><%= economy_wagon.number %></td>
  <td><%= economy_wagon.top_places %></td>
  <td><%= economy_wagon.bottom_places %></td>
  <td><%= economy_wagon.side_top_places %></td>
  <td><%= economy_wagon.side_bottom_places %></td>
  <td><%= link_to t('common.edit'), edit_admin_wagon_path(economy_wagon), class: 'btn btn-sm btn-warning' , class: 'btn btn-sm btn-warning'%></td>
  <td><%= link_to t('common.delete'), admin_wagon_path(economy_wagon), method: :delete, data: { confirm: t('common.delete_confirm') }, class: 'btn btn-sm btn-danger' %></td>
</tr>
