<%= form_for [:admin, @train, @wagon.becomes(Wagon)], html: {class: 'form-horizontal'} do |f| %>
  <%= render 'common/errors', resource: @wagon %>

  <% if controller.action_name == "new" || controller.action_name == "create" %>
    <div class="form-group">
      <%= f.label :type, 'Тип поезда' , class: 'col-sm-2' %>
      <div class="col-sm-10">
        <%= f.select :type, options_for_select([['Плацкартный',  EconomyWagon],
      ['Купейный', CoupeWagon],['CB',           CBWagon],['Сидячий', SeatWagon]]),{} ,class: 'form-control wagon_type_select' %>
      </div>
    </div>
  <% end %>

  <div class="form-group top_places places">
    <%= f.label :top_places, 'Верхних мест', class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= f.number_field :top_places, in: 1..200, step: 1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group bottom_places places">
    <%= f.label :bottom_places, 'Нижних мест', class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= f.number_field :bottom_places, in: 1..200, step: 1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group side_top_places places">
    <%= f.label :side_top_places, 'Боковых верхних мест', class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= f.number_field :side_top_places, in: 1..200, step: 1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group side_bottom_places places">
    <%= f.label :side_bottom_places, 'Боковых нижних мест', class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= f.number_field :side_bottom_places, in: 1..200, step: 1, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group seat_places places">
    <%= f.label :seat_places, 'Сидячих мест мест', class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= f.number_field :seat_places, in: 1..200, step: 1, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "#{@wagon.new_record? ? t('common.create') : t('common.update')}", class: 'btn btn-sm btn-success' %>
  </div>
<% end %>
