<p>
  Привет <%= @passanger.name %>
</p>
<p>
  Вы купили билет на маршрут: <%= @ticket.route_name %>
</p>
<p>
  На пользователя <%= @ticket.passanger_info %>
</p>
<p>
  Посмотреть билет вы можете посмотреть <%= link_to 'здесь', @ticket %>
</p>
<p>
  Все свои билеты вы можете посмотреть <%= link_to 'здесь', tickets_url %>
</p>
